<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

        #hom{
        margin-left:20px;}
      .blink{
          top:5%;
          left:50%;
          position:absolute;
          transform: translate(-50%,-50%);

      }
      #ame{
       color:aqua;
    position: relative;
    left: 720px;
    top:10px;
      }
    #use,span{  position:absolute;
    right: 400px;
    }

      #blink{
          font-size:20px;
          font-family: Arial, Helvetica, sans-serif;
          text-transform: uppercase;
          animation:link 3s linear infinite;
          color:#fff;
      }
    @keyframes link {
        10%{opacity:1; color:pink;}

        50%{opacity:1; color:red; font-size:50;}
        100%{opacity:1; color:green;}



      }






      }
    </style>
    <title>Document</title>
</head>
<body>

</body>



    <nav class="navbar navbar-expand-lg navbar-blue  bg-dark">
  <div class="container-fluid">
      <div>    <a class="navbar-brand" href="/" id="blink" > Arya CODER 9</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>


    </button>
          </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-4 mb-lg-1">
        <li class="nav-item">
          <a class="nav-link active"  id="hom" aria-current="page" href="/" >Home</a>
        </li>
        {%if user.is_authenticated%}


           <li class="nav-item">
          <a class="nav-link" href="app2/comment">comments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="blog/push">contact</a>
        </li>

          <ul class="navbar-nav ml-auto mb-2 mb-lg-0" id="ame">
              <li class="nav-item dropdown">
          <a   class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Walcome {{request.user}} ji
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="app2/logout">logout</a></li>
               <li class="nav-item">
          <a class="nav-link" href="app2/replygi">Reply</a>
        </li>
          </ul>

        </li>
          </ul>

        {%else%}
        <li class="nav-item">
          <a class="nav-link" href="blog/push">contact</a>
        </li>


         <li class="nav-item">
          <a class="nav-link" href="blog/signup">signup</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="app1/login">Login</a>
        </li>
        {%endif%}




      </ul>
      <form class="d-flex" method="get" action=" app2/search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query" id="search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

    {% for message in messages %}
<div class="alert alert-{{ message.tags}} mb-0 alert-dismissible fade show" role="alert">
  <strong>Arya CODER </strong>   {{ message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>




{%endfor%}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    {% block content %}
   {% endblock%}

  </body>
</html>