<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'basic.html' %}
{% block content %}

<div class="container my-3">
    <h2> Search:Articles by MindCoder:-</h2>
        {% if posts|length < 1 %}
      <p> No search results </p>
       Your search query: --<b> {{query}}  </b> - did not match any documents.<br>

    Suggestions: <br>
    <ul>
        <li>Make sure that all words are spelled correctly.</li>
        <li>Try different keywords.</li>
        <li>Try more general keywords.</li>
        <li>Try fewer keywords.</li>
    </ul>

    {% endif %}
    {%for post in posts %}



<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{post.author}}</strong>
          <h3 class="mb-0">{{post.title}}</h3>

          <div class="mb-1 text-muted">{{post.datetime}}</div>
          <p class="card-text mb-auto">{{post.content}}</p>
            <div class=" my-2">
          <a href="blogcommen" class="btn btn-primary">Continue reading</a>
            </div>
        </div>
<!--        <div class="col-auto d-none d-lg-block">-->
<!--          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->

<!--        </div>-->
      </div>
    {% endfor %}
    </div>

{% endblock %}
</body>
</html>